* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a :hover {
  color: #8c2177;
}

header,
nav {
  background-color: #698348;
  width: 100%;
  z-index: 1000;
}

header {
  position: fixed;
  overflow: hidden;
}

header h1 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: #8c2177;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 20px;
}

nav .icons {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  font-size: 20px;
}

.redes {
  flex-wrap: wrap;
}

nav .icons i {
  padding-left: 15px;
  color: black;
}

nav .icons span {
  padding-left: 10px;
}

nav img {
  height: 60px;
}

.main {
  display: flex;
  padding-top: 165px;
}

.main .side-bar a {
  text-decoration: none;
  color: white;
}

.main .side-bar {
  position: fixed;
  width: 275px;
  background-color: #8c2177;
  color: white;
  height: 1000px;
}

.main .side-bar h3 {
  font-size: 32px;
  padding: 20px;
}

.main .side-bar ul {
  padding: 0 20px;
}

.main .side-bar ul li {
  list-style: none;
  padding: 10px 0;
}

.collections {
  width: 100%;
  margin-left: 275px;
}

#banner {
  width: 100%;
}

.card {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.newClass {
  display: none;
}

.card__body {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  box-shadow: 8px 10px 21px 0px rgba(0, 0, 0, 0.75);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
}

.product {
  display: flex;
}

.card__content {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card__title {
  margin: 0;
}

.card__description {
  margin: 0;
}

.card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__link {
  color: red;
  background-color: yellow;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
}

.card__link--disabled {
  color: grey;
  background-color: antiquewhite;
}

.card button {
  margin-top: 30px;
  width: 115px;
  border: none;
  background: blue;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.comprar {
  position: relative;
}

.display {
  display: none;
  position: absolute;
}

.card__collection img {
  width: 255px;
}

.card__image {
  width: 250px;
}

.card__image img {
  height: 200px;
}

.bckgnd__clouds {
  /* background-image: url(/assets/img/clouds-bckgnd.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}

.main-contact {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

#contacto h1,
#nosotros h1,
#alta h1 {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 20px;
}

form div {
  padding-bottom: 30px;
}

form label {
  display: block;
  padding-bottom: 8px;
}

.main-contact img,
#alta img {
  height: 500px;
}

form p {
  padding-top: 10px;
  color: red;
  font-size: 12px;
}

#nosotros img {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#nosotros p {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: black;
  height: 50px;
  position: relative;
  color: white;
}

@media (max-width: 1024px) {
  .main-contact {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .card__collection {
    display: none;
  }

  nav img {
    display: none;
  }

  .main {
    padding-top: 163px;
  }

  .main-contact {
    width: 90%;
  }

  .main-contact img {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .main {
    padding-top: 208px;
  }

  .product {
    display: block;
    text-align: center;
  }

  .card__content {
    align-items: center;
  }

  .main-contact img {
    height: 200px;
  }

  .section-title {
    padding-top: 222px;
  }
}
@media (max-width: 425px) {
  h3 {
    padding-bottom: 0;
  }

  nav {
    display: block;
    justify-content: center;
  }

  ul {
    padding-left: 0;
  }

  .icons {
    padding-right: 0;
  }

  .side-bar {
    display: none;
  }

  .collections {
    margin-left: 0px;
  }

  .product {
    display: flex;
  }

  .card__image {
    width: 220px;
  }

  .section-title {
    padding-top: 235px;
  }

  .main-contact img {
    display: none;
  }
}
@media (max-width: 320px) {
  .product {
    display: block;
    text-align: center;
  }

  .card__content {
    align-items: center;
  }

  .card__body {
    display: block;
  }

  .card__image {
    width: 268px;
  }
}
